.answer-padding {
  padding-bottom: 10px;
}

.submit-padding {
  padding-bottom: 15px;
}

.metatrivia-padding {
    margin-bottom: 100px
}

.btn-primary {
    font-family: Verdana;
    background-color: #1E90FF
}

.instruction-login {
	font-size: 30px;
	font-family: Verdana;
	text-align: center;
	padding-top: 50px;
}

.center-title {
    text-align: center;
}

.jumbotron {
    background-color: #F8F8F8;
    text-align: center;
}

.next {
  display: none;
  margin-top: 20px;
}