.answer-padding {
  padding-bottom: 10px;
}

.submit-padding {
  padding-bottom: 15px;
}

.jumbotron {
    margin: 60px 80px;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    border-radius: 10px
}

.metatrivia-padding {
    margin-bottom: 100px
}

.btn-primary {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: Verdana;
    background-color: #1E90FF
}

.instruction-login {
	font-size: 30px;
	font-family: Verdana;
	text-align: center;
	padding-top: 50px;
}

.btn-default {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-family: Verdana
}

.next {
    display: none;
}