<template name="submitQuestions">

    <form class="submitted-question">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

        <h2>Question submission form</h2>

          <div class="form-group form-group-lg">
            <input type="text" class="form-control" name="question" placeholder="Type your question here..."/>
          </div>

          <p style="font-size: 18px">Please indicate which answer is correct by clicking on the corresponding radio button</p>
          
          <div class="input-group answer-padding">
            <span class="input-group-addon">
              <input class="isChecked" type="radio" name="isAnswer" id="isAnswer1">
            </span>
          <input type="text" class="form-control" name="answer1" placeholder="First possible answer..."/>
          </div><!-- /input-group -->

          <div class="input-group answer-padding">
            <span class="input-group-addon">
              <input class="isChecked" type="radio" name="isAnswer" id="isAnswer2">
            </span>
          <input type="text" class="form-control" name="answer2" placeholder="Second possible answer..."/>
          </div><!-- /input-group -->

          <div class="input-group answer-padding">
            <span class="input-group-addon">
              <input class="isChecked" type="radio" name="isAnswer" id="isAnswer3">
            </span>
          <input type="text" class="form-control" name="answer3" placeholder="Third possible answer..."/>
          </div><!-- /input-group -->

          <div class="input-group submit-padding">
            <span class="input-group-addon">
              <input class="isChecked" type="radio" name="isAnswer" id="isAnswer4">
            </span>
          <input type="text" class="form-control" name="answer4" placeholder="Fourth possible answer..."/>
          </div><!-- /input-group -->

        <input type="submit" class="btn btn-primary btn-block btn-lg" id="submit"/>

        <p>
          <div class="current-questions">
              <h2>Question Admin</h2>
              <ol>
                  {{#each questions}}
                      <li>
                        {{question}}
                        (<a href="/quiz/{{_id}}">Edit</a> |
                        <a href="#" id="{{_id}}" class="approve">Approve</a>)
                      </li>
                  {{/each}}
              </ol>
          </div>
          </p>

        </div>
        <div class="col-lg-2"></div>
      </div>
    </form>

</template>

